.content{
    background-color: gray ;
    height: 400px;
    display:flex;
    justify-content: space-between;

}
.item1{
    background-color: yellow;
    width: 200px;
	height: 200px;
	margin: 20px;
	font-size: 30px;
}
.item2{
    background-color: red;
    width: 200px;
	height: 200px;
	margin: 20px;
	font-size: 30px;
}
.item3{
    background-color: green;
    width: 200px;
	height: 200px;
	margin: 20px;
	font-size: 30px;
}